<ion-view view-title="Perfil">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="list card">

  <div class="item item-body">
    <img class="full-image" ng-src="img/ionic.png">
    <div>
      <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
      <div class="button-bar">
        <button class="button button-small button-positive light-bg waves-effect waves-button waves-light" ng-click="submitRatig()">
          Enviar avaliação
        </button>
      </div>
    </div>
    <button class="button button-small button-positive light-bg waves-effect waves-button waves-light" ng-click="addToFavorites()">
      Adicionar aos favoritos
    </button>
    <div class="item item-avatar" ng-controller="UsersCtrl" ng-click="viewUser(comp.user.token)" >
      <img ng-src="img/ionic.png">
      <h2>Usuário Responsavel</h2>
      <h3>{{comp.user.name}}</h3>
      <p>{{comp.user.email}}</p>
    </div>
    <p>
      {{comp.description}}
    </p>
    <p>
      {{comp.time_opens | date:'H:mm'}}
    </p>
    <p>
      {{comp.time_closes | date:'H:mm'}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
