<div class="bar bar-header background">
  <h1 class="title"><img class="img-header"src="img/logo_horizontal.png" alt=""></h1>
</div>
<ion-view view-title="Perfil">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div data-tap-disabled="true" ng-controller="CompaniesCtrl as vm">
      <ng-map class="map" zoom="15" center="[{{comp.latitude}},{{comp.longitude}}]"overflow-scroll="false">
        <directions
          draggable="true"
          panel="directions-panel"
          origin="current-location"
          on-directions_changed="vm.directionsChanged(evt)"
          destination="[{{comp.latitude}},{{comp.longitude}}]">
        </directions>
      </ng-map>
    </div>
    <img ng-src="{{comp.company_images[0]}}" style="max-width:250px;max-height:250px" />
    <div ng-if="!isOwner">
      <div ng-if="!isRated">
        <h1>Avaliar</h1>
        <rating ng-model="rating.rate" max="rating.max"></rating>
        <div class="button-bar">
          <label class="item item-input">
            <textarea placeholder="Commentário"ng-model="comment"></textarea>
          </label>
          <button class="button button-small button-positive light-bg waves-effect waves-button waves-light" ng-click="submitRatig(comment)">
            Enviar avaliação
          </button>
        </div>
      </div>
      <button class="button button-small button-positive light-bg waves-effect waves-button waves-light" ng-click="addToFavorites(comp)">
        Adicionar aos favoritos
      </button>
      <div class="item item-avatar" ng-controller="UsersCtrl" ng-click="viewUser(comp.user.token)" >
        <img ng-src="img/ionic.png">
        <h2>Usuário Responsavel</h2>
        <h3>{{comp.user.name}}</h3>
        <p>{{comp.user.email}}</p>
      </div>
    </div>
    <div class="description">
      <h2>{{comp.name}}</h2>
      <p>
        {{comp.description}}
      </p>
    </div>
    <div class="time">
      <h3>Horario de abertura</h3>
      <p>
        {{comp.time_opens | date:'H:mm'}}
      </p>
      <h3>Horario de encerramento</h3>
      <p>
        {{comp.time_closes | date:'H:mm'}}
      </p>
    </div>
    <h2>Dias de operação</h2>
    <p ng-repeat="day in comp.days">
      {{day}}
    </p>
    <h2>Media de avaliações </h2>
    <rating readonly="readOnly" ng-model="comp.average_rating"></rating>
    <p>
      <a class="subdued">{{comp.people_rated}} avaliações</a>
    </p>

  </ion-content>
</ion-view>
