<ion-view view-title="Empresas e Serviços">
  <div ng-init="toggleHeader()" class="bar bar-header background">
    <h1 class="title toggle-header">
    </h1>
    <button class="button icon ion-search" ng-click ="toggle()"></button>
  </div>
  <ion-content ng-class="{expanded:$scope.isExpanded}" overflow-scroll="false">
    <label>Palavra chave: <input ng-model="search.$"></label>
    <label>Nome <input ng-model="search.name"></label>
    <label>Descrição <input ng-model="search.description"></label>
    <ion-list ng-repeat="company in companys | filter:search">
      <div scroll="false" class="company-navigation" data-tap-disabled="true">
        <h2>{{company.name}}</h2>
        <a scroll="false">
          <a class="ribbon"><p>{{company.average_rating}}</p></a>
            <a class="close-ribbon"></a>
            <ion-slide-box show-pager="true">
              <ion-slide ng-repeat="img in company.company_images">
                <img class="company-carousel" ng-src="{{img}}"/>
              </ion-slide>
            </ion-slide-box>
            <div class="row companies-icons">
              <div class="col col-75"></div>
              <div class="col">
                <i class="icon ion-android-favorite-outline" ng-click="addToFavorites(company)"></i>
                <i class="icon ion-android-star-outline" ></i>
                <i class="icon ion-ios-location-outline" ng-click="viewCompany(company.token)"></i>
              </div>
            </div>
          </div>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
