<ion-view class="background">
  <ion-content>
    <div data-tap-disabled="true"  ng-controller="createCompanyCtrl as vm">
      <ng-map zoom="15" center="current-location"overflow-scroll="false">
        <marker position="current-location" streetViewControl="false" title="drag me" draggable="true" on-dragend="vm.click()"></marker>
      </ng-map>
    </div>

    <div class="list">
      <select class="item item-select" ng-model="company.category" ng-change="update(company.category)">
        <option ng-repeat="cat in categories" value="{{cat.name}}" >{{cat.name}}</option>
      </select>
      <select class="item item-select" ng-model="company.subcategory">
        <option ng-repeat="sub in subcategories" value="{{sub.name}}">{{sub.name}}</option>
      </select>
    </div>

    <div>
      <span style="color:white;" class="labels">Nome:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model='company.name' >
      </label>
    </div>
    <div>
      <span style="color:white;" class="labels">Descrição:</span>
      <label class="item item-input inputs-register">
        <textarea ng-model='company.description' rows="8" cols="40"></textarea>
      </label>
    </div>
    <div>
      <span style="color:white;" class="labels">Endereço:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model= "company.adress">
      </label>
    </div>
    <div style="color:white;" class="row labels"style="color:white;">
      <div class="col col-40">
        <span>Abertura:</span>
        <ionic-datepicker type="time" ion-datetime-picker time ng-model="company.time_opens">
          <button class="button button-block icon-right ion-calendar"> {{ company.time_opens | date:'H:mm' }}</button>
        </ionic-datepicker>
      </div>
      <div style="color:white;" class="col col-40">
        <span>Encerramento:</span>
        <ionic-datepicker ion-datetime-picker time ng-model="company.time_closes">
          <button class="button button-block icon-right ion-calendar"> {{ company.time_closes | date:'H:mm' }}</button>
        </ionic-datepicker>
      </div>
    </div>
    <div>
      <label ng-repeat="day in days">
      <ion-checkbox checklist-model="company.days" checklist-value="day.id"> {{day.text}}
    </label>
    <p style="color:white;">
      company.days {{ company.days | json }}
    </p>
    <div>
      <p ng-repeat="img in images">
        <img ng-src="{{img}}" style="max-width:250px;max-height:250px" />
      </p>
      <button class=" btCamera font button button-block button-positive icon ion-ios-camera" ng-click="selImages()"> Câmera</button>
    </div>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33 col-center">
        <input type="submit" class="button button-balanced button-block icon-left " ng-click="createCompany(company)" value="Cadastrar" />
      </div>
      <div class="col col-33"></div>
    </div>

  </div>
    <!-- Div para login com rede social  -->

</ion-content>

</ion-view>
