<ion-view class="background ">
  <div class="fields">
    <div class="distance">
      <span class="labels">Nome:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model='company.name' >
      </label>
    </div>
    <div class="distance">
      <span class="labels">Descrição:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model='company.description' >
      </label>
    </div>
    <div class="distance">
      <span class="labels">Endereço:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model= "company.adress">
      </label>
    </div>
    <div class="row labels">
      <div class="col col-40">
        <span>Horario de abertura:</span>
        <ionic-datepicker type="time" ion-datetime-picker time ng-model="company.time_opens">
          <button class="button button-block icon-right ion-calendar"> {{ company.time_opens | date:'H:mm' }}</button>
        </ionic-datepicker>
      </div>
      <div class="col col-40">
        <span>Horario de fechamento:</span>
        <ionic-datepicker ion-datetime-picker time ng-model="company.time_closes">
          <button class="button button-block icon-right ion-calendar"> {{ company.time_closes | date:'H:mm' }}</button>
        </ionic-datepicker>
      </div>
    </div>

    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33 col-center">
        <input type="submit" class="button button-balanced button-block icon-left " ng-click="createCompany(company)" value="Cadastrar" />
      </div>
      <div class="col col-33"></div>
    </div>

  </div>
    <!-- Div para login com rede social  -->
<div>
  <button class=" btCamera font button button-block button-positive icon ion-ios-camera" ng-click="getFoto(Camera.PictureSourceType.PHOTOLIBRARY)"> Câmera</button>
</div>
</ion-view>
