<ion-view class="background">
  <ion-content scroll="true">
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  <leaflet lf-center="center" event-broadcast="events" markers="markers" height="200px" width="100%"></leaflet>
    <p>Actual marker position (lat/lng): <strong  ng-bind="position.lat" ng-model="company.latitude"></strong> / <strong ng-bind="position.lng"ng-model="company.longitude"></strong></p>

    <div>
      <span class="labels">Nome:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model='company.name' >
      </label>
    </div>
    <div>
      <span class="labels">Descrição:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model='company.description' >
      </label>
    </div>
    <div>
      <span class="labels">Endereço:</span>
      <label class="item item-input inputs-register">
        <input type="text" ng-model= "company.adress">
      </label>
    </div>
    <div class="row labels">
      <div class="col col-40">
        <span>Abertura:</span>
        <ionic-datepicker type="time" ion-datetime-picker time ng-model="company.time_opens">
          <button class="button button-block icon-right ion-calendar"> {{ company.time_opens | date:'H:mm' }}</button>
        </ionic-datepicker>
      </div>
      <div class="col col-40">
        <span>Encerramento:</span>
        <ionic-datepicker ion-datetime-picker time ng-model="company.time_closes">
          <button class="button button-block icon-right ion-calendar"> {{ company.time_closes | date:'H:mm' }}</button>
        </ionic-datepicker>
      </div>
    </div>
    <div>
      <label ng-repeat="day in days">
      <ion-checkbox checklist-model="company.days" checklist-value="day.id"> {{day.text}}
    </label>
    <p style="color:white;">
      company.days {{ company.days | json }}
    </p>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33 col-center">
        <input type="submit" class="button button-balanced button-block icon-left " ng-click="createCompany(company)" value="Cadastrar" />
      </div>
      <div class="col col-33"></div>
    </div>

  </div>
    <!-- Div para login com rede social  -->
<div>
  <button class=" btCamera font button button-block button-positive icon ion-ios-camera" ng-click="getFoto(Camera.PictureSourceType.PHOTOLIBRARY)"> Câmera</button>
</div>
</ion-content>

</ion-view>
