<ion-view view-title="Empresas e Serviços">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <ion-list ng-repeat="company in companys track by $index">
      <a class="item item-thumbnail-left" ng-init="isOperating($index)"ng-click="viewCompany(company.token)">
        <img ng-if="!fblogged" ng-src="img/ionic.png">
        <h2>{{company.name}}</h2>
        <p>{{company.description}}</p>
        <p>{{company.adress}}</p>
        <p id="availability">
          <span class="available">Indisponivel</span>
        </p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
