<ion-view>
  <ion-content scroll="false">

    <div class="card">
      <button class="button button-positive button-block icon-left ion-social-facebook" ng-click="loginFacebook()">
        LOGIN COM FACEBOOK
      </button>
      <button class="button button-calm button-block icon-left ion-social-twitter" ng-click="loginFacebook()">
        LOGIN COM TWITTER
      </button>

    </div>
    <button class="button button-outline button-block icon-left ion-email" ui-sref="app.register">
      CADASTRAR
    </button>
    <button class="button button-outline button-block icon-left ion-email" ui-sref="app.resetsend">
      ESQUECI MINHA SENHA
    </button>
  </ion-content>

</ion-view>
