<ion-view>
  <ion-content scroll="false">

    <div class="card">
      <div class="list">
        <label class="item item-input">
          <input type="password" placeholder="Senha" ng-model= "user.password">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Confirmar Senha" ng-model="user.password_confirmation">
        </label>
        <input type="submit" class="button button-dark button-block icon-left " ng-click="resetPasswordEdit(user)" value="Confirmar alterações" />
        <input type="submit" class="button button-dark button-block icon-left " ui-sref="app.login" value="Voltar" />
      </div>
    </div>
      <!-- Div para login com rede social  -->
  </ion-content>
</ion-view>
