.background {
  background-color: #002740;
  background-size: cover;
  content: '';
  display: block;
}
.companies{
  margin-bottom: 1em;
}
.companies img{
  width:100%;
  height:250px;
}
.company-carousel{
  width:100%;
  max-height:250px;
}
.company-navigation{
  background-size: 100%;
  height: 250px;
  z-index: 1;
}
.company-navigation h2,
.company-navigation p,
.company-navigation span{
  color: #fff;
}
.company-navigation h2{
  font-size: 1em;
}
.img-header{
  margin-top: -10px;
  height: 60px;
}
.companies-icons{
  position: absolute;
  bottom: 0.25em;
  color: #fff;
  font-size: 2em;
}

.close-ribbon{
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 20;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
  width: 0.75em;
  line-height: 0.5em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}
.close-ribbon:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 1.2em;
  border: 1em solid;
  z-index: -19999999;
  top: -0.3em;
  border-top-width: 2em;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.close-ribbon:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #606060 transparent;
  top: -0.3em;
  right: 2em;
  border-width: 0 0 0.4em 0.25em;
  z-index: -199999999;
}
.ribbon{
  position: absolute;
  top: 0;
  right: 2.5em;
  z-index: 20;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  width: 0.7em;
  line-height: 0.6em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}
.ribbon:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 1.2em;
  border: 1em solid #33cd5f;
  z-index: -19999999;
  top: -0.3em;
  border-top-width: 2em;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.ribbon:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #606060 transparent;
  top: -0.3em;
  right: 2em;
  border-width: 0 0 0.4em 0.3em;
  z-index: -199999999;
}
.ribbon p,
.close-ribbon p{
  font-size: 0.6em;
}
/*.close-ribbon:hover:after{
  border: 1.5em solid #EF5350;
  border-bottom-color: transparent;
  height: 1.6em;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}*/
/*.close-ribbon:hover{
  line-height: 0.9em;
  color: #333;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}*/
.logo{
  margin-top: 2em;
  position: relative;
}

.logo img{
  width: 100%;
  height: 240%;
}

.custom-icon {
  font-size: 24px;
}

.inputs{
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

input[type=password], input[type=text] {
  font-size: 18px;
  line-height: 18px;
  float: left;
  border: 0;
  display: block;
  margin: 0;
  height: 20px;
}

.dist{
  margin-top: 40px;
}
.profile-image {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}
.profile-info{
  align-items: center;
  margin-top: 25%;
  filter: contrast(1.5);
}
.social-buttons{
  margin-top: 2.75%;
}
